# Ignore all the temporary and backup files.
*~
*.swp
# Ignore libs.
*.[oa]
*.lib
# Ignore the doxygen documentation files.
/Documentation
DocumentationErrorLog.txt
# Ignore all build files, built during testing (Linux tested only).
/Build/CMakeFiles
/Build/Makefile
/Build/WymonOrion
/Build/CMakeCache.txt
/Build/cmake_install.cmake
