# Ignore all the temporary and backup files.
*~
*.swp
# Ignore libs.
*.[oa]
*.lib
# Ignore the doxygen documentation files.
/doc
error_log.txt
# Ignore all test builds.
/test_build
# Ignore all build files, built during testing (Linux tested only).
/Build/CMakeFiles
/Build/Makefile
/Build/WymonOrion
/Build/CMakeCache.txt
/Build/cmake_install.cmake
# Ignore CMakeLists file which is used to build test executables.
CMakeLists.txt
